td {
	border: 1px solid black;
	width: 50px;
	height: 50px;
}

.hidden{
	border: none;
}

.location{
	border: none;
	
}

.location.row{
	vertical-align: bottom;
	text-align: center;
}

.location.column{
	text-align: right;
}

.black{
	background-color: #401804;
}

.white{
	background-color: #fffcf1;
}

.active {
    background-color: #143b05;
}

.peca{
	width: 40px;
	height: 40px;
	position: relative;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);  
}